*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    scroll-behavior: smooth;
}


.container h1{
    text-align: center;
    margin: 2rem;
}

/* swiper css */
.swiper {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

  .swiper-slide img {
    width: 110px;
    border-radius: 50%;
}

.swiper-button-next::after {
    display: none;
}
.swiper-button-prev::after {
    display: none;
}

.first-slider {
    position: relative !important;
}

.swiper-button-next {
    position: absolute !important;
    top: 50% !important;
    right: 6% !important;
}
.swiper-button-prev {
    position: absolute !important;
    top: 50% !important;
    left: 6% !important;
}
.swiper-button i {
    font-size: 2rem !important;
}
.swiper.swiper-initialized.swiper-horizontal.swiper-ios.swiper-backface-hidden {
    height: fit-content;
}
.fa-chevron-left:before {
    content: "\f053";
    font-size: 2rem;
    color: black;
}
.fa-chevron-right:before {
    content: "\f053";
    font-size: 2rem;
    color: black;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center !important;
    justify-content: center !important;
}
p {
    text-align: center;
}
.first-slider .swiper-slide a {
    text-decoration: none;
    color: black;
}
.first-slider .swiper-slide p{
    margin-top: 10px;
}




/* second slider css */
/* .second-slider {
    position: relative;
}
.vp-slider .swiper-slide img {
    border: 1px solid;
} */







@media (max-width:517px){
    .swiper-slide img {
        width: 50px;
        border-radius: 50%;
    }
    .swiper-button-next {
        position: absolute !important;
        top: 50% !important;
        right: 1% !important;
    }
    .swiper-button-prev {
        position: absolute !important;
        top: 50% !important;
        left: 1% !important;
    }
    .fa-chevron-left:before {
        font-size: 1rem;
    }
    .fa-chevron-right:before {
        font-size: 1rem;
    }

    .swiper-slide p {
        text-align: center;
        font-size: 12px;
    }
    .first-slider .swiper-slide a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* .second-slider {
        margin-top: 2rem;
    } */
}

@media (max-width:1200px){
    .swiper-button-next {
        position: absolute !important;
        top: 50% !important;
        right: 2% !important;
    }
    .swiper-button-prev {
        position: absolute !important;
        top: 50% !important;
        left: 2% !important;
    }
    /* .second-slider {
        margin-top: 2rem;
    } */
}




